.text-center{
    text-align: center!important;
}
.text-right{
    text-align: right!important;
}
.text-left{
    text-align: left!important;
}
.vAlign-middle{
    vertical-align: middle!important;
}
.width10per{
    width: 10%!important;
}
.width15per{
    width: 15%!important;
}
.margin4px{
    margin-left:4px!important;
}     